<!DOCTYPE html>
<html lang="es">
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title>Subir Archivos</title>
	<link href="siii/SII/resources/views/subir_archivos/css/main.css" rel="stylesheet" />
</head>
<body>
<div class="principal">
<form action="" id="form_subir"  method=POST  enctype=multipart/form-data  accept-charset=utf-8>
<h2 class="form-1-2" style="font-style:italic;"><label for="">Archivo a subir</label> <input name="archivo" required="" type="file" /></h2>

<div class="barra">
<div class="barra_azul" id="barra_estado"></div>
</div>

<div class="acciones"><input class="btn" type="submit" value="Enviar" /> <input class="cancel" id="cancelar" type="button" /></div>
</form>
</div>
<script href="siii/SII/resources/views/subir_archivos/js/main.js"></script></body>
</html>